<div class="col-md-12">
  <div class="card card-container">
    <div *ngIf="isLoading" class="spinner-border text-info mx-auto" role="status"></div>
    <div *ngIf="!isLoading">
      <div class="row justify-content-between">
        <div class="col-md-2"></div>
        <div class="col-md-2"><h3 class="card-title">Users</h3></div>
        <div class="col-md-2">
          <button type="button" class="btn btn-outline-success" (click)="addUser()">Add user</button>
        </div>
      </div>

      <table class="table table-hover table-sm">
        <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Username</th>
          <th scope="col">Status</th>
        </tr>
        </thead>
        <tbody>
        <ng-container *ngFor="let user of users">
          <tr>
            <td>{{user.id}}</td>
            <td><img src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" class="profile-img-table">
              {{user.username}}
            </td>
            <td>{{user.enabled ? 'Enabled' : 'Disabled'}}</td>
            <td>
              <button *ngIf="!user.enabled" [disabled]="loggedInUser == user.username" type="button"
                      class="btn btn-sm btn-warning actionButton"
                      (click)="updateUser(user)">
                Enable
              </button>
              <button *ngIf="user.enabled" [disabled]="loggedInUser == user.username" type="button"
                      class="btn btn-sm btn-outline-warning actionButton"
                      (click)="updateUser(user)">
                Disable
              </button>
            </td>
            <td>
              <button [disabled]="loggedInUser == user.username" type="button" class="btn btn-sm btn-outline-danger"
                      (click)="deleteUser(user.id)">
                Delete
              </button>
            </td>
          </tr>
        </ng-container>
        </tbody>
      </table>

    </div>
  </div>
</div>
