<div class="col-md-12">
  <div class="card card-container">
    <h3 class="card-title">Add new user</h3>
    <form
      name="form"
      (ngSubmit)="f.form.valid && onSubmit()"
      #f="ngForm"
      novalidate
    >
      <div class="form-group">
        <label>Username</label>
        <input
          type="text"
          class="form-control"
          name="username"
          [(ngModel)]="form.username"
          required
          minlength="4"
          maxlength="50"
          #username="ngModel"
          [ngClass]="{ 'is-invalid': f.submitted && username.errors }"
        />
        <div *ngIf="username.errors && f.submitted" class="invalid-feedback">
          <div *ngIf="username.errors['required']">Username is required</div>
          <div *ngIf="username.errors['minlength']">
            Username must be at least 4 characters
          </div>
        </div>
      </div>
      <div class="form-group">
        <label>Password</label>
        <input
          type="password"
          class="form-control"
          name="password"
          [(ngModel)]="form.password"
          required
          minlength="8"
          maxlength="32"
          #password="ngModel"
          [ngClass]="{ 'is-invalid': f.submitted && password.errors }"
        />
        <div *ngIf="password.errors && f.submitted" class="invalid-feedback">
          <div *ngIf="password.errors['required']">Password is required</div>
          <div *ngIf="password.errors['minlength']">
            Password must be at least 8 characters
          </div>
        </div>
      </div>
      <button class="btn btn-primary mt-3 mx-auto" style="width: 100%;">Add user</button>
      <div class="form-group mt-3">
        <div *ngIf="f.submitted && requestFailed" class="alert alert-danger" role="alert">
          {{ errorMessage }}
        </div>
      </div>
    </form>
    <button class="btn btn-secondary mt-3" type="button" (click)="navigateBack()">Cancel</button>

  </div>
</div>
