<div id="app">
  <nav class="navbar navbar-expand navbar-dark" style="background-color: #639bf1;">
    <div class="container-fluid">

      <a class="navbar-brand">Frontend</a>

      <ul class="navbar-nav" *ngIf="isLoggedIn">
      <span class="navbar-text">
        Logged in as:
      </span>
        <a class="navbar-brand">
          <img src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" class="profile-img-navbar">
          {{ username }}
        </a>
      </ul>
      <button class="btn btn-sm btn-secondary" type="button" *ngIf="isLoggedIn" (click)="logout()">Logout
      </button>

    </div>
  </nav>

  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>
